<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.coleenskitchenbakeryapp">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/coolcakesbakerylogo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.ColeensKitchenBakeryApp">
        <activity android:name=".Admin.HistoryActivity"></activity>
        <activity android:name=".ShipmentInfoActivity" />
        <activity android:name=".Login_New_Activity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Admin.ShowHistoryActivity" />
        <activity android:name=".Admin.TodayDeliveryActivity" />
        <activity android:name=".Admin.TodayOrderActivity" />
        <activity android:name=".Admin.AccountInfoActivity" />
        <activity android:name=".Admin.ShowProductActivity"/>
        <activity android:name=".Admin.AccountInfoActivity"
            tools:ignore="DuplicateActivity" />
        <activity android:name=".Admin.ShowOrderActivity" />
        <activity android:name=".OrderActivity" />
        <activity android:name=".CartActivity" />
        <activity android:name=".Admin.ShowProductActivity"
            tools:ignore="DuplicateActivity" />
        <activity android:name=".Admin.AdminLoginActivity" />
            android:label="@string/title_activity_admin_login"
        <activity android:name=".Admin.AdminActivity" />
        <activity android:name=".ConfirmOrderActivity" />
        <activity android:name=".SandwichesActivity" />
        <activity android:name=".PizzaActivity" />
        <activity android:name=".Cup_CakeActivity" />
        <activity android:name=".AppetizerActivity" />
        <activity android:name=".Wedding_CakeActivity" />
        <activity android:name=".Product_Details_Activity" />
        <activity android:name=".Birthday_CakesActivity" />
        <activity android:name=".CategoryActivity" />
        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_main"
            android:theme="@style/Theme.ColeensKitchenBakeryApp.NoActionBar" />
        <activity android:name=".RegisterActivity" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>